/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* Toast styles */
@import "~ngx-toastr/toastr";

/* App style variables */
@import "./variables.scss";

@font-face {
  font-family: Baskerville;
  src: url(../assets/fonts/Baskervville-Regular.ttf);
}

* {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif !important;
}

a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

app-profile {
  ion-input {
    input {
      padding: 10px 0 0 0 !important;
    }
  }
}

ion-button {
  text-transform: none !important;
  --border-radius: 5px !important;
}

ion-card-header {
  &.ion-color-primary ion-card-title {
    color: white !important;
  }

  ion-card-title {
    font-size: 20px;
    &.subtitle {
      font-size: 16px;
      float: right;
      margin-top: 4px;
    }
  }
}

ion-card-content {
  font-size: 16px !important;
  padding: 16px !important;
}

ion-modal {
  @media screen and (min-width: $min-width-medium) {
    &.app-modal-log-in .modal-wrapper {
      height: 304px !important;
    }

    &.app-modal-change-email .modal-wrapper {
      height: 216px !important;
    }

    &.app-modal-change-email.add-email .modal-wrapper {
      height: 232px !important;
    }

    &.app-modal-change-password .modal-wrapper {
      height: 286px !important;
    }

    &.app-modal-change-password.send-email .modal-wrapper {
      height: 232px !important;
      width: 360px !important;
    }
  }

  &.app-modal-change-email,
  &.app-modal-change-password {
    ion-row {
      &.email,
      &.password {
        margin-bottom: 16px;
      }

      &.email {
        ion-col.add-email-message {
          padding: 0 0 0 16px;
        }

        @media screen and (min-width: $min-width-medium) {
          ion-col.add-email-message {
            padding: 0 0 0 32px;
          }
        }
      }
    }
  }

  .modal-wrapper {
    @media screen and (min-width: $min-width-medium) {
      width: 328px !important;
      height: 304px !important;
      border-radius: 5px !important;
      background: transparent !important;
    }
  }

  .modal-inner {
    width: 100%;

    ion-buttons.close {
      margin-right: 10px;
    }

    ion-item {
      width: 100%;
      padding: 0;
      font-size: 20px;
      --highlight-background: var(--ion-color-primary) !important;

      @media screen and (min-width: $min-width-medium) {
        width: 90%;
        margin-right: 4px;
      }
    }

    .submit {
      font-size: 20px;
      margin: 0 0 0 12px;
    }

    .submit-message {
      margin: 4px 0 0 16px;
    }

    ion-spinner {
      margin-bottom: -3px;
    }
  }
}

ion-modal:not(:last-child) .modal-wrapper {
  display: none !important;
}

ion-popover {
  &.gallery-popover .popover-content {
    width: 192px;
  }

  &.profile-popover .popover-content {
    width: 172px;
  }

  &.deadline-popover .popover-content {
    width: 300px;
  }

  ion-grid {
    padding: 0;

    ion-row {
      cursor: pointer;
      font-size: 16px;
      padding: 5px;
      border-bottom: 1px solid var(--ion-color-dark);
      transition: background-color 0.3s;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: var(--ion-color-light);
      }

      ion-icon {
        font-size: 1.4em;
        margin: 0 4px -6px 0;
      }
    }
  }
}

ion-select {
  margin-top: 4px;
  line-height: 18px;
}

ion-title {
  font-size: 20px;
  padding: 0 8px 0 18px;

  &.grid {
    padding-left: 0;

    ion-col:first-child {
      font-size: 20px;
    }
  }
}

.alert-button {
  &:hover {
    background-color: var(--ion-color-light);
  }

  .alert-button-inner {
    font-size: 20px;
    text-transform: none;
  }
}

.alert-wrapper {
  @media screen and (min-width: $min-width-small) {
    min-width: 346px !important;
  }
}

.center-content-vertical {
  height: 100%;
  display: flex;
  align-items: center;
}

.center-content-horizontal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-outer {
  min-width: 320px;
}

.content-inner {
  max-width: 992px;
  margin: 0 auto;
}

.mgl-timeline-entry-card {
  background-color: var(--ion-color-light) !important;
}

.mgl-timeline-entry-card-header {
  border-radius: 5px !important;
  background-color: var(--ion-color-light-shade) !important;
}

.mgl-timeline-line {
  border-radius: 5px !important;
  background-color: var(--ion-color-medium) !important;
}

.disable-ripple {
  --ripple-color: transparent;
  --background-hover-opacity: 0;
}

.page-outer {
  height: 100%;
  overflow-y: scroll;
}

.page-grid {
  margin: 0;

  @media screen and (min-width: 1056px) {
    margin-left: 8px;
  }
}

.toast-container .ngx-toastr {
  padding: 13px 14px 12px;
  background-image: none;
  box-shadow: 0 0 5px black;

  &.toast-success {
    background-color: var(--ion-color-success);
  }

  &.toast-warning {
    background-color: var(--ion-color-warning);
  }

  &.toast-error {
    background-color: var(--ion-color-danger);
  }

  &:hover {
    cursor: initial;
    box-shadow: 0 0 5px black;
  }

  button {
    margin: 1px 0 0 0;
    line-height: 12px;

    span {
      font-size: 24px;
    }
  }

  .toast-title {
    margin-bottom: 4px;
  }
}
