@import "../../../styles/variables.scss";

.title.grid {
    padding-left: 8px;
}

.deadline {
    font-size: 14px;
    margin-bottom: -2px;

    div {
        margin-top: 2px;
    }
}

ion-select {
    font-weight: bold;
}

ion-icon {
    cursor: pointer;
    font-size: 20px;

    &.create {
        font-size: 24px;
    }

    &.close {
        font-size: 26px;
    }
}

ion-input {
    border-bottom: 1px solid var(--ion-color-medium);

    &.ng-valid {
        border-bottom: 1px solid var(--ion-color-dark);
    }
}

ion-card-header {
    &.email {
        ion-card-title ion-text {
            float: right;
            margin-top: 1px;

            a {
                color: white;
                font-weight: normal;
            }

            ion-spinner {
                margin-top: -4px;
            }
        }
    }

    &.guests {
        ion-card-title ion-spinner {
            float: right;
            margin-top: -3px;
        }
    }

    ion-icon {
        margin: -6px 0 0 8px;

        &.create {
            margin-bottom: -4px;
        }

        &.close {
            margin-bottom: -6px;
        }

        &.save {
            margin-bottom: -3px;
        }
    }
}

ion-card-content {
    padding: 0 !important;

    ion-item {
        margin: 0;
        padding: 0;
        pointer-events: auto;

        @media screen and (min-width: $min-width-small) {
            padding: 0 8px;

            &:first-child {
                padding-top: 8px;
            }

            &:last-child {
                padding-bottom: 8px;
            }
        }

        ion-spinner {
            margin-top: 2px;
        }
    }

    ion-label {
        opacity: 1 !important;
    }

    &.email {
        ion-input {
            margin: -8px 0 0 -8px;
            padding-left: 8px !important;
        }

        ion-text {
            width: 30%;
            text-align: right;

            ion-spinner {
                margin-top: 4px;
            }

            .email-verified {
                color: var(--ion-color-success);
            }

            .email-error {
                color: var(--ion-color-danger);
            }
        }
    }

    &.guests {
        ion-input {
            margin: -8px 0 0 0;
        }

        span {
            margin-right: 8px;
        }
    }
}
