<ion-content>
    <div class="content-outer page-outer">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="content-inner title grid">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                {{user.name}}
                            </ion-col>
                            <ion-col size="6" class="ion-text-right deadline">
                                <div *ngIf="!isMobile">{{deadlineMessage}}</div>
                                <ion-icon *ngIf="isMobile" name="information-circle"
                                    (click)="presentDeadlinePopover($event)">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="content-inner">
            <ion-grid class="page-grid">
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>RSVP</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none">
                                    <ion-label>Will you attend the wedding?</ion-label>
                                    <ion-select *ngIf="!isUpdating['isAttending']" class="select" placeholder="Select"
                                        [value]="user.isAttending" [disabled]="disableInputs"
                                        (ionChange)="update('isAttending', $event)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['isAttending']" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light" lines="none">
                            <ion-card-header color="primary" class="email">
                                <ion-card-title>
                                    Email
                                    <ion-icon *ngIf="displayChangeEmail" name="save" class="save"
                                        (click)="resendEmailVerification(email)"></ion-icon>
                                    <ion-icon *ngIf="displayChangeEmail" name="close" class="close"
                                        (click)="toggleDisplayChangeEmail()"></ion-icon>
                                    <ion-icon *ngIf="!displayChangeEmail" name="create" class="create"
                                        (click)="toggleDisplayChangeEmail()"></ion-icon>
                                    <ion-text>
                                        <a *ngIf="!user.isEmailVerified && !resendingEmailVerification && !displayChangeEmail"
                                            (click)="resendEmailVerification()">
                                            Resend Verification
                                        </a>
                                        <ion-spinner *ngIf="resendingEmailVerification" color="light"></ion-spinner>
                                    </ion-text>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="email-verification">
                                <ion-item color="light" lines="none">
                                    <ion-label *ngIf="!displayChangeEmail">{{user.email}}</ion-label>
                                    <ion-input *ngIf="displayChangeEmail" type="text" placeholder="Input new email"
                                        [(ngModel)]="email" [disabled]="resendingEmailVerification"
                                        (keydown)="changeEmailKeyDown($event)"></ion-input>
                                    <ion-text slot="end">
                                        <span *ngIf="!displayChangeEmail && user.isEmailVerified"
                                            class="email-verified">Verified</span>
                                        <span *ngIf="!displayChangeEmail && !user.isEmailVerified"
                                            class="email-error">Not verified</span>
                                        <span *ngIf="displayChangeEmail && changeEmailErrorMessage" class="email-error">
                                            {{changeEmailErrorMessage}}
                                        </span>
                                    </ion-text>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Accommodations & Transportation</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none" [disabled]="!user.isAttending">
                                    <ion-label>Will you require accommodations?</ion-label>
                                    <ion-select *ngIf="!isUpdating['requiresAccommodations']" placeholder="Select"
                                        [value]="user.requiresAccommodations" [disabled]="disableInputs"
                                        [interfaceOptions]="interfaceOptions.accommodation"
                                        (ionChange)="update('requiresAccommodations', $event)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['requiresAccommodations']" slot="end"></ion-spinner>
                                </ion-item>
                                <ion-item color="light" lines="none" [disabled]="!user.requiresAccommodations">
                                    <ion-label>How many rooms will you require?</ion-label>
                                    <ion-select *ngIf="!isUpdating['totalRequiredRooms']" placeholder="Select"
                                        [value]="user.totalRequiredRooms" [disabled]="disableInputs"
                                        (ionChange)="update('totalRequiredRooms', $event)">
                                        <ion-select-option *ngFor="let option of roomOptions" [value]="option">
                                            {{option}}
                                        </ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['totalRequiredRooms']" slot="end"></ion-spinner>
                                </ion-item>
                                <ion-item color="light" lines="none" [disabled]="!user.requiresAccommodations">
                                    <ion-label>Will you require transportation?</ion-label>
                                    <ion-select *ngIf="!isUpdating['requiresTransportation']" placeholder="Select"
                                        [value]="user.requiresTransportation" [disabled]="disableInputs"
                                        [interfaceOptions]="interfaceOptions.transportation"
                                        (ionChange)="update('requiresTransportation', $event)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['requiresTransportation']" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Guests</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>