@import "../../../styles/variables.scss";

.title.grid {
    padding-left: 8px;
}

.deadline {
    font-size: 14px;
    margin-bottom: -2px;

    div {
        margin-top: 2px;
    }

    ion-icon {
        font-size: 20px;
    }
}

ion-select,
ion-text.email-confirmation {
    font-weight: bold;
}

ion-card-content {
    padding: 0 !important;

    ion-item {
        margin: 0;
        padding: 0;

        @media screen and (min-width: $min-width-small) {
            padding: 0 8px;

            &:first-child,
            &:last-child {
                padding: 8px;
            }
        }
    }
}
