<ion-content>
    <div class="content-outer page-outer fireworks">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="content-inner title grid">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                {{user.name}}
                            </ion-col>
                            <ion-col size="6" class="ion-text-right deadline">
                                <div *ngIf="!isMobile">{{deadlineMessage}}</div>
                                <ion-icon *ngIf="isMobile" name="information-circle"
                                    (click)="presentDeadlinePopover($event)">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <div *ngIf="displayFireworks" class="fireworks-before"></div>
        <div *ngIf="displayFireworks" class="fireworks-after"></div>
        <div class="content-inner">
            <ion-grid class="page-grid">
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>RSVP</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none">
                                    <ion-label>Will you be able to attend the wedding?</ion-label>
                                    <ion-select *ngIf="!isUpdating['isAttending']" class="select" placeholder="Select"
                                        okText="Save" [value]="user.isAttending" [disabled]="isDeadlineExpired"
                                        (ionChange)="updateColumn('isAttending', $event.detail.value)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['isAttending']" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light" lines="none">
                            <ion-card-header color="primary" class="email">
                                <ion-card-title>
                                    Email
                                    <ion-spinner *ngIf="isResendingEmailVerification" color="light"></ion-spinner>
                                    <ion-buttons *ngIf="!isResendingEmailVerification">
                                        <ion-button *ngIf="!displayChangeEmail" class="change"
                                            (click)="toggleDisplayChangeEmail()">
                                            <ion-icon name="create"></ion-icon>
                                            <ion-label>Change <span *ngIf="!isMobile">Email</span></ion-label>
                                        </ion-button>
                                        <ion-button *ngIf="!displayChangeEmail && !user.isEmailVerified" class="resend"
                                            (click)="resendEmailVerification(user.email)">
                                            <ion-icon name="send"></ion-icon>
                                            <ion-label>Resend <span *ngIf="!isMobile">Verification</span></ion-label>
                                        </ion-button>
                                        <ion-button *ngIf="displayChangeEmail" class="save"
                                            [disabled]="isChangeEmailDisabled" (click)="resendEmailVerification(email)">
                                            <ion-icon name="save"></ion-icon>
                                            <ion-label>Save</ion-label>
                                        </ion-button>
                                        <ion-button *ngIf="displayChangeEmail" class="cancel"
                                            (click)="toggleDisplayChangeEmail()">
                                            <ion-icon name="close"></ion-icon>
                                            <ion-label>Cancel</ion-label>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="email">
                                <ion-item color="light" lines="none">
                                    <ion-label *ngIf="!displayChangeEmail">{{user.email}}</ion-label>
                                    <ion-input *ngIf="displayChangeEmail" type="text" placeholder="Input email"
                                        [(ngModel)]="email" [disabled]="isResendingEmailVerification"
                                        (keydown)="changeEmailKeyDown($event)"></ion-input>
                                    <ion-text slot="end">
                                        <span *ngIf="!displayChangeEmail && user.isEmailVerified"
                                            class="email-verified">Verified</span>
                                        <span *ngIf="!displayChangeEmail && !user.isEmailVerified"
                                            class="email-error">Not verified</span>
                                        <span
                                            *ngIf="displayChangeEmail && changeEmailErrorMessage && !isResendingEmailVerification"
                                            class="email-error">
                                            {{changeEmailErrorMessage}}
                                        </span>
                                    </ion-text>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Accommodations & Transportation</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none" [disabled]="isInputDisabled"
                                    [ngClass]="{'disable-ripple': isInputDisabled}">
                                    <ion-label>Will you require accommodations?</ion-label>
                                    <ion-select *ngIf="!isUpdating['requiresAccommodations']" placeholder="Select"
                                        okText="Save" [value]="user.requiresAccommodations" [disabled]="isInputDisabled"
                                        [interfaceOptions]="interfaceOptions.accommodation"
                                        (ionChange)="updateColumn('requiresAccommodations', $event.detail.value)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['requiresAccommodations']" slot="end"></ion-spinner>
                                </ion-item>
                                <ion-item color="light" lines="none"
                                    [disabled]="isRequiredRoomsAndTransportationDisabled"
                                    [ngClass]="{'disable-ripple': isRequiredRoomsAndTransportationDisabled}">
                                    <ion-label>How many rooms will you require?</ion-label>
                                    <ion-select *ngIf="!isUpdating['totalRequiredRooms']" placeholder="Select"
                                        okText="Save" [value]="user.totalRequiredRooms"
                                        [disabled]="isRequiredRoomsAndTransportationDisabled"
                                        (ionChange)="updateColumn('totalRequiredRooms', $event.detail.value)">
                                        <ion-select-option [value]="1">1</ion-select-option>
                                        <ion-select-option [value]="2">2</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['totalRequiredRooms']" slot="end"></ion-spinner>
                                </ion-item>
                                <ion-item color="light" lines="none"
                                    [disabled]="isRequiredRoomsAndTransportationDisabled"
                                    [ngClass]="{'disable-ripple': isRequiredRoomsAndTransportationDisabled}">
                                    <ion-label>Will you require transportation?</ion-label>
                                    <ion-select *ngIf="!isUpdating['requiresTransportation']" placeholder="Select"
                                        okText="Save" [value]="user.requiresTransportation"
                                        [disabled]="isRequiredRoomsAndTransportationDisabled"
                                        [interfaceOptions]="interfaceOptions.transportation"
                                        (ionChange)="updateColumn('requiresTransportation', $event.detail.value)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="isUpdating['requiresTransportation']" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary" class="guests">
                                <ion-card-title>
                                    Guests
                                    <ion-spinner *ngIf="isUpdating.guests" color="light"></ion-spinner>
                                    <ion-buttons *ngIf="!isUpdating.guests">
                                        <ion-button *ngIf="!displayChangeGuests" class="change"
                                            [disabled]="isInputDisabled" (click)="toggleDisplayChangeGuests()">
                                            <ion-icon name="create"></ion-icon>
                                            <ion-label>
                                                Change<span *ngIf="canAddOrRemoveGuests">{{addOrRemoveString}}</span>
                                                <span *ngIf="!isMobile">&nbsp;Guests</span></ion-label>
                                        </ion-button>
                                        <ion-button *ngIf="displayChangeGuests" class="save"
                                            [disabled]="isInputDisabled || isChangeGuestsDisabled"
                                            (click)="updateGuests()">
                                            <ion-icon name="save"></ion-icon>
                                            <ion-label>Save</ion-label>
                                        </ion-button>
                                        <ion-button *ngIf="displayChangeGuests" class="cancel"
                                            [disabled]="isInputDisabled" (click)="toggleDisplayChangeGuests()">
                                            <ion-icon name="close"></ion-icon>
                                            <ion-label>Cancel</ion-label>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="guests">
                                <ion-item color="light" lines="none"
                                    *ngFor="let guest of guests; index as i; trackBy: changeGuestsTrackBy">
                                    <span class="index">{{i + 1}})</span>
                                    <ion-label *ngIf="!displayChangeGuests">{{guest}}</ion-label>
                                    <ion-input *ngIf="displayChangeGuests" type="text" placeholder="Input guest's name"
                                        [(ngModel)]="guests[i]" [disabled]="isUpdating.guests"
                                        (keydown)="changeGuestsKeyDown($event)"></ion-input>
                                    <ion-buttons class="remove">
                                        <ion-button
                                            *ngIf="displayChangeGuests && canAddOrRemoveGuests && (i+1) > user.minGuests"
                                            (click)="removeGuest(i)">
                                            <ion-icon name="trash"></ion-icon>
                                            Remove<span *ngIf="!isMobile">&nbsp;Guest</span>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-item>
                                <ion-item *ngIf="displayChangeGuests && canAddOrRemoveGuests" color="light" lines="none"
                                    class="add">
                                    <ion-buttons>
                                        <ion-button (click)="addGuest()"
                                            [disabled]="isInputDisabled || guests.length === user.maxGuests">
                                            <ion-icon name="add"></ion-icon>
                                            <ion-label>Add<span *ngIf="!isMobile">&nbsp;Guest</span></ion-label>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>