<ion-content>
    <div class="content-outer page-outer">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="content-inner title grid">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                {{user.name}}
                            </ion-col>
                            <ion-col size="6" class="ion-text-right deadline">
                                <div *ngIf="!isMobile">{{deadlineMessage}}</div>
                                <ion-icon *ngIf="isMobile" name="information-circle"
                                    (click)="presentDeadlinePopover($event)">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="content-inner">
            <ion-grid class="page-grid">
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>RSVP</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none">
                                    <ion-label>Can you attend the wedding?</ion-label>
                                    <ion-select *ngIf="!updatingIsAttending" class="select" placeholder="Select"
                                        [value]="user.isAttending" [disabled]="disableInputs"
                                        (ionChange)="handleUpdateIsAttending($event)">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                    <ion-spinner *ngIf="updatingIsAttending" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light" lines="none">
                            <ion-card-header color="primary">
                                <ion-card-title>Email</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none">
                                    <ion-label>{{user.email}}</ion-label>
                                    <br *ngIf="isMobile">
                                    <ion-text *ngIf="!resendingEmailConfirmation" slot="end" class="email-confirmation">
                                        <span *ngIf="user.isEmailConfirmed">Confirmed</span>
                                        <a *ngIf="!user.isEmailConfirmed" (click)="resendEmailConfirmation()">
                                            Resend <span *ngIf="!isMobile">Confirmation</span>
                                        </a>
                                    </ion-text>
                                    <ion-spinner *ngIf="resendingEmailConfirmation" slot="end"></ion-spinner>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Accommodations and Transportation</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item color="light" lines="none">
                                    <ion-label>Will you require accommodations?</ion-label>
                                    <ion-select placeholder="Select" [disabled]="disableInputs"
                                        [interfaceOptions]="interfaceOptions.accommodation">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item color="light" lines="none">
                                    <ion-label>How many rooms will you require?</ion-label>
                                    <ion-select placeholder="Select" [disabled]="disableInputs">
                                        <ion-select-option *ngFor="let option of roomOptions" [value]="option">
                                            {{option}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item color="light" lines="none">
                                    <ion-label>Will you require transportation?</ion-label>
                                    <ion-select placeholder="Select" [disabled]="disableInputs"
                                        [interfaceOptions]="interfaceOptions.transportation">
                                        <ion-select-option [value]="true">Yes</ion-select-option>
                                        <ion-select-option [value]="false">No</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Guests</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>