ion-grid {
    padding: 0;
}

ion-row {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid var(--ion-color-dark);
    transition: background-color 0.3s;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--ion-color-light);
    }
}