doctype html
html
    head
        link(rel="stylesheet", href="styles.css", data-inline)
    body
        p Hi #{user.name},
        p Please confirm your email by clicking the button bellow.
        p
            button(onclick=`window.open('${clientUrl}?emailConfirmationToken=${user.emailConfirmationToken}', '_blank')`) Confirm Email
        p 
            | Regards,
            br
            | Dane & Sarah