doctype html
html
    head
        link(rel="stylesheet", href="styles.css", data-inline)
    body
        p 
            | Hi #{user.name},
        p 
            | Please verify your email by clicking the link bellow.
        p
            button(onclick=`window.open('${verificationUrl}', '_blank')`) Verify Email
        
        p
            | If the link does not work, please enter the following code into the email 
            | verification input in your profile:
        p
            | <h4>#{code}</h4>
        p
            | Let us know if you have any issues verifying your email.
        p 
            | Regards,
            br
            | Dane & Sarah