doctype html
html
    head
        link(rel="stylesheet", href="styles.css", data-inline)
    body
        p 
            | Hi #{user.name},
        p 
            | Please confirm your email by clicking the link bellow.
            | Note that the link is only valid for #{expirationHours} hours.
        p
            button(onclick=`window.open('${verificationUrl}', '_blank')`) Confirm Email
        p
            | Let us know if you have any issues confirming your email address.
        p 
            | Regards,
            br
            | Dane & Sarah