<ion-content>
    <div class="content-outer center-content-vertical center-content-horizontal">
        <div class="content-inner">
            <ion-text color="light" class="ion-text-center">
                <div class="name">Dane & Sarah</div>
                <div class="countdown">
                    {{days}} Days
                    <ion-img class="sunflower"></ion-img>
                    {{hours}} {{isMobile ? 'Hrs' : 'Hours'}}
                    <ion-img class="sunflower"></ion-img>
                    {{minutes}} {{isMobile ? 'Mins' : 'Minutes'}}
                    <ion-img class="sunflower"></ion-img>
                    {{seconds}} {{isMobile ? 'Secs' : 'Seconds'}}
                </div>
            </ion-text>
        </div>
    </div>
</ion-content>