@import "../../../styles/variables.scss";

.avatar-personal {
    float: right;
    width: 70px;
    height: 70px;
    margin-top: -26px;

    @media screen and (min-width: $min-width-large) {
        width: 100px;
        height: 100px;
    }

    img.sarah {
        content: url(../../../assets/images/about-us/sarah.jpg);
    }

    img.dane {
        content: url(../../../assets/images/about-us/dane.jpg);
    }
}

.photos-card {
    padding: 8px;

    div {
        cursor: pointer;
        height: 100px;
        width: 100%;
        margin: 0;
        border-radius: 5px;
        color: var(--ion-color-light);
        font-size: 18px;
        background-size: cover;
        background-position: center center;
        transition: all 0.3s;

        @media screen and (min-width: $min-width-large) {
            height: 78px;
        }

        &:hover {
            transform: scale(1.02);
        }

        &.engagement {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/engagement.jpg);
        }

        &.germany {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/germany.jpg);
        }

        &.charlotte {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/charlotte.jpg);
        }

        &.cabo2 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/cabo2.jpg);
        }

        &.graduation {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/graduation.jpg);
        }

        &.columbus {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/columbus.jpg);
        }

        &.cabo1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/cabo1.jpg);
        }

        &.gatlinburg {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../../../assets/images/about-us/gatlinburg.jpg);
        }
    }
}

.timeline-card {
    padding: 0px 12px 12px 0;

    @media screen and (min-width: $min-width-large) {
        padding: 0 24px 16px 16px;
    }
}

mgl-timeline {
    margin-top: 12px;
    padding: 16px 0 2px;

    @media screen and (min-width: $min-width-large) {
        margin-top: 14px;
    }
}

mgl-timeline-entry {
    margin-bottom: 24px;
    transition: all 0.3s;

    &:hover:not(.expanded) {
        transform: scale(1.02);
    }
}

mgl-timeline-entry-dot {
    cursor: pointer;
    background-color: transparent;
    content: url(../../../assets/images/sunflower.png);

    &.expanded {
        content: none;
        background-color: var(--ion-color-primary);
    }
}

mgl-timeline-entry-header {
    cursor: pointer;
    text-align: left;
    padding-left: 25px;
    color: var(--ion-color-dark);
    transition: all 0.3s;

    &.expanded {
        color: var(--ion-color-light);
    }

    .timeline-header-date {
        float: right;
    }
}

mgl-timeline-entry-content {
    margin-bottom: -12px;
}
