<ion-grid>
	<ion-row routerLink="/profile" routerDirection="root" (click)="dismiss()">
		<ion-col size="12">
			<ion-icon name="settings"></ion-icon>
			Update Profile
		</ion-col>
	</ion-row>
	<ion-row (click)="changePassword()">
		<ion-col size="12">
            <ion-icon *ngIf="!isSubmitting" name="key" class="key"></ion-icon>
            <ion-spinner *ngIf="isSubmitting"></ion-spinner>
			Change Password
		</ion-col>
	</ion-row>
	<ion-row (click)="logOut()">
		<ion-col size="12">
			<ion-icon name="log-out"></ion-icon>
			Log Out
		</ion-col>
	</ion-row>
</ion-grid>