<ion-content>
    <div class="content-outer page-outer">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="content-inner">Info</ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="content-inner">
            <ion-grid class="page-grid">
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Ceremony & Reception</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Our wedding will be held on <b>October 24th, 2020</b> at <b>All Saints Catholic
                                    Church</b> in Walton, Kentucky.
                                The ceremony will take place at <b>6:30 PM EST</b> with a reception immediately
                                following at <b>Bingham Meadows</b> (see wedding map below).
                                The dress code is formal. Dinner and drinks will be provided.
                                Please RSVP and fill out your
                                <a *ngIf="user" routerLink="/profile" routerDirection="root">profile</a>
                                <a *ngIf="!user" (click)="presentLogInModal()">profile</a>
                                by <b>{{deadlineString}}</b>.
                                Feel free to
                                <a [href]="emailUrl" target="_blank">contact us</a>
                                if you have any other questions. We look forward to celebrating our marriage with
                                everyone this October!
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Travel & Accommodations</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                All Saints Church is 22 miles south of downtown Cincinnati and 18 miles south of the
                                <b>Cincinnati/Northern Kentucky International Airport</b> (CVG).
                                We have reserved a block of rooms at the <b>Hilton Cincinnati Airport Hotel</b>.
                                The hotel is 12 miles from the church and 6 miles from CVG. If you requested a hotel
                                room in your profile, you will receive an email from us with information on how to book
                                a room after the <b>{{deadlineString}}</b> deadline.
                                <!--Once we have an estimate of the final guest count, we will send out an email to guests with 
                                information to reserve a room in the hotel block.
                                We also plan to provide a shuttle to transport guests between the church and the hotel on the
                                day of the wedding. -->
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>COVID-19</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                We have spoken with several guests who have voiced their uncertainty about being able
                                to travel this October due to COVID-19. We understand and appreciate our guests'
                                concerns, and do
                                not want anyone to compromise their health or safety. We have decided to extend the RSVP
                                deadline to
                                <b>{{deadlineString}}</b> for those who are still uncertain about their future travel
                                abilities.
                                With this in mind, please RSVP as soon as possible and feel free to
                                <a [href]="emailUrl" target="_blank">contact us</a> if you have any questions or
                                concerns. We look
                                forward to celebrating with everyone either in person or in spirit this October!
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <iframe class="map" frameborder="0"
                                src="https://www.google.com/maps/d/embed?mid=17_5Zc-V73j_qdVz6i8xfL3Z1ye64BwYv"></iframe>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>