<ion-content>
    <div class="content-outer page-outer">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="content-inner">Info</ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="content-inner">
            <ion-grid class="page-grid">
                <ion-row>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Ceremony & Reception</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Our wedding will be held on <b>October 24th, 2020</b> at <b>All Saints Catholic
                                    Church</b> in Walton, Kentucky.
                                The ceremony will take place at <b>6:30 PM EST</b> with a reception immediately
                                following in the church hall. Dinner and drinks will be provided.
                                Please RSVP and fill out your
                                <a *ngIf="user" routerLink="/profile" routerDirection="root">profile</a>
                                <a *ngIf="!user" (click)="presentLogInModal()">profile</a>
                                by <b>{{deadlineString}}</b>.
                                Feel free to
                                <a [href]="emailUrl" target="_blank">contact us</a>
                                if you have any other questions. We look forward to celebrating our marriage with
                                everyone this October!
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-lg="6">
                        <ion-card color="light">
                            <ion-card-header color="primary">
                                <ion-card-title>Travel & Accommodations</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                All Saints Church is 22 miles south of downtown Cincinnati and 18 miles south of the
                                <a href="https://www.cvgairport.com/" target="_blank">Cincinnati/Northern Kentucky
                                    International Airport</a> (CVG).
                                <!-- We have reserved a block of rooms at the HOTEL NAME HERE.
                                The hotel is X miles from the church and X miles from CVG, with shuttle service to and
                                from the airport. -->
                                Once we have attained a final guest count, we will reserve a block of rooms at a hotel
                                that is a convenient distance from both the church and airport, and send out an email to
                                guests with info on reserving a room.
                                We will also provide a shuttle transport guests between the church and the hotel on the
                                day of the wedding.
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card color="light">
                            <iframe class="map" frameborder="0"
                                src="https://www.google.com/maps/d/embed?mid=17_5Zc-V73j_qdVz6i8xfL3Z1ye64BwYv"></iframe>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>